﻿<div class="container">
    <h3>List cars</h3>
    <div class="form col-md-6">
        <button class="btn btn-default" id="listCar">List cars</button>
        <div class="form-group"><label for="carId">Id:</label><input class="form-control" id="carId" type="number" value="0" /></div>
        <button class="btn btn-default" id="findCar">Find</button>
    </div>
    <ul id="cars"></ul>
</div>
